
body{
    margin-top: 50px;
    margin-bottom: 50px;
}
.button {
    background-color: #fff;
    color: rgb(70, 70, 70);
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 8px;
  }
  
  .button:hover {
    background-color: rgb(68, 64, 64);
    color: #fff;
  }
  
  .input-field {
    padding: 5px 8px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
  }